@import url(./reset.css);
@import url(./header.css);
@import url(./home.css);
@import url(./aboutme.css);
@import url(./solutions.css);
@import url(./contact.css);
@import url(./footer.css);

@import url(./projects.css);

@import url(./animations/observer.css);
@import url(./animations/IamText.css);

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap');


:root {
    --cor-amarelo: #FFB400;
    --cor-fundo: #111111;
    --cor-branco: #FFFFFF;
    --cor-cinza: #535353;
    --cor-amareloHover: #ffc337;
    --fonte-rabisco: 'Caveat', cursive;
    --fonte-krona: 'Krona One', sans-serif;
    --fonte-montserrat: 'Montserrat', sans-serif;
    --montserrat-regular: 400;
    --montserrat-medium: 500;
    --montserrat-semiBold: 600;
    --montserrat-bold: 700;
    --montserrat-extraBold: 800;
}

* {
    scroll-behavior: smooth;
}

body {
    font-size: 24px;
    font-family: var(--fonte-montserrat);
    font-weight: var(--montserrat-regular);
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }
} */

/* .cabecalho__menu-hamburguer {
    display: none;
} */

/* .cabecalho {
    display: none;
} */

/* .menu__lista {
    display: none;
} */

/* .container__principal {
    display: none;
} */

/* #aboutme {
    display: none;
} */

/* .aboutme__more {
    display: none;
} */

/* .aboutme__tecnologies {
    display: none;
} */

/* #solutions {
    display: none;
} */

/* #contact {
    display: none;
} */

/* .rodape {
    display: none;
} */


/* ============================================= */


/* .cabecalho {
    display: none;
} */

/* .container__projects {
    display: none;
} */

/* .container__projects-principais {
    display: none;
} */

/* .container__projects-extras {
    display: none;
} */

/* .rodape {
    display: none;
} */